<div class="bg-section">
    <section>
      <div class="header-section">
        <div class="left-Side">
          <mat-icon class="toy1"> alarm </mat-icon>&nbsp;&nbsp;<span id="textspan">08:33PM</span>
        </div>
        <div class="right-Side">
          <mat-icon class="toy1"> wifi_lock </mat-icon>&nbsp;&nbsp;<span id="textspan">97%</span><span>&nbsp;&nbsp;<mat-icon class="toy1" id="chargingbattery"> battery_charging_full </mat-icon></span>
        </div>
      </div>  
    </section>
   
  </div>

<div class="container">
    <div class="complain_box">
        <h2 id="h2text"><mat-icon id="shift">keyboard_arrow_left</mat-icon>&nbsp;&nbsp; Add A Complain</h2>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Device Locked">
    </div>
    <div class="form-group">
        <input type="text" placeholder="write text here">
    </div>
    <div class="form-group">
        <input type="text">
    </div>
    <div class="form-group">
        <input type="text">
    </div>
    <div class="row">
        <div class="col-md-4 m20 btn-class">
            <input type="button" value="Send" id="btn-id">
        </div>
    </div>
</div>

<div class="footer">
  <div class="footer-icon">
    <mat-icon id="playIcon" class="playicon1">play_arrow</mat-icon>
    <mat-icon id="playIcon">fiber_manual_record</mat-icon>
     <mat-icon id="playIcon">play_arrow</mat-icon>
  </div>

</div>

